* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.container {
  background-color: cornsilk;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 5rem;
  text-align: center;
  padding-top: 2.5rem;
}
.frm-names {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#player1,
#player2 {
  height: 3rem;
  width: 20rem;
  padding-left: 10px;
}
.versus {
  font-size: 2rem;
}
#btn-play,
#btn-reset {
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  border-radius: 5px;
}
.container-bord {
  background-color: whitesmoke;
  padding: 5rem 10rem;
}
.bord {
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
}
.tegel {
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 700;
}
.gewonnen-tegel {
  background-color: chartreuse;
}
.container-onder-bord {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
